<mat-toolbar class="header-toolbar u-flex-between">
    <div class="u-flex-center">
        <button mat-icon-button class="example-icon u-mr-1" aria-label="Regresar" *ngIf="!_HeaderFooterService.regresar">
            <mat-icon [svgIcon]="_HeaderFooterService.iconoHeader" class="u-icon-md"></mat-icon>
        </button>
        <button mat-icon-button class="example-icon u-mr-1" aria-label="Regresar" *ngIf="_HeaderFooterService.regresar" (click)="_HeaderFooterService.goBack()">
            <mat-icon svgIcon="ico-regresar" class="u-icon-md"></mat-icon>
        </button>
        <label class="header-title" *ngIf="_HeaderFooterService.tituloAmarillo">{{_HeaderFooterService.titulo}} - <span class="u-primary-color">{{_HeaderFooterService.tituloAmarillo}}</span></label>
        <label class="header-title" *ngIf="!_HeaderFooterService.tituloAmarillo">{{_HeaderFooterService.titulo}}</label>
    </div>
    <div>
        <button mat-icon-button class="example-icon u-mr-1" aria-label="Buscar" *ngIf="_HeaderFooterService.buscador">
            <mat-icon svgIcon="ico-buscar" class="u-icon-md"></mat-icon>
        </button>
    </div>
</mat-toolbar>