<mat-toolbar class="header-toolbar u-flex-between">
    <div class="u-flex-center">
        <button mat-icon-button class="example-icon u-mr-1" aria-label="Regresar">
            <mat-icon svgIcon="ico-inventario-activo" class="u-icon-md"></mat-icon>
        </button>
        <label class="header-title">Titulo - <span class="u-primary-color">Hogar</span></label>
    </div>
    <div>
        <button mat-icon-button class="example-icon u-mr-1" aria-label="Regresar">
            <mat-icon svgIcon="ico-buscar" class="u-icon-md"></mat-icon>
        </button>
    </div>
</mat-toolbar>