<div class="u-pad-2 u-scroll-y margin-top margin-bottom" style="margin-bottom: 87px;">
    <div class="u-fz-13 u-txt-demibold">Configura la acción, previsualizala y solicita su autorización para los 5,000 colchones <strong class="u-txt-amarillo">Set Restonic Queen Size Grey.</strong></div>
    <div class="row" style="margin-top: 16.87px;">
        <div class="col-12">
            <div class="u-fz-15 u-txt-demibold" style="margin-bottom: 9px;">¿Qué descuento deseas aplicar al colchón Set Restonic</div>
            <mat-select class="u-txt-medium u-fz-13" style="padding: 7px 10px 4px 16px;">
                <mat-option value="opt1">Opción 1</mat-option>
                <mat-option value="opt2">Opción 2</mat-option>
                <mat-option value="opt3">Opción 3</mat-option>
            </mat-select>
        </div>
        <div class="col-12" style="margin-top: 29px;">
            <div class="u-fz-15 u-txt-demibold" style="margin-bottom: 9px;">¿En qué territorio lo quieres aplicar?</div>
            <div class="u-cursor-p" (click)="seleccionarTerritorio()">
                <input type="text" class="u-input-read" [(ngModel)]="territoriosSeleccionados">
            </div>
        </div>
    </div>
</div>


<div class="u-flex-center contenedor-boton u-w-100" style="height: 87px; bottom: 0;position: fixed;">
    <button mat-flat-button color="primary" class="btn" [ngClass]="{'desac-button': !continueButton}" (click)="previsualizar()">Previsualizar</button>
</div>