<div style="max-width: 341px; padding: 21px 0px;" *ngIf="data.tipo === 0">
    <div style="padding: 0px 24px; margin-bottom: 21px;">
        <div class="dialog-titulo u-flex-center u-txt-medium u-fz-18">{{data.titulo}}</div>
    </div>
    <hr>
    <div class="row" style="padding: 0px 24px; margin-bottom: 21px;">
        <div class="col-6" *ngFor="let territorio of territorios">
            <div class="u-flex u-fz-13" style="margin-top: 34px;">
                <div class="territorios">
                    <input type="checkbox" name="grupo1" id="checkbox{{territorio.id}}" (change)="seleccionTerritorio(territorio)" [(ngModel)]="territorio.estatus"/>
                    <label for="checkbox{{territorio.id}}"></label>
                </div>
                <div class="u-flex-column" style="margin-left: 7.5px;">
                    <label for="checkbox{{territorio.id}}" class="u-txt-medium">{{territorio.nombre}}</label>
                    <label for="checkbox{{territorio.id}}" class="u-txt-demibold u-txt-gris">{{territorio.piezas}} pzas.</label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="u-flex u-justify-arround u-mt-1 u-fz-13" style="padding: 0px 24px;">
        <div class="u-cursor-p u-txt-demibold u-txt-rojo" mat-dialog-close>Cancelar</div>
        <div class="u-cursor-p u-txt-demibold u-txt-azul" [mat-dialog-close]="true">Continuar</div>
    </div>
</div>
<div style="max-width: 341px; padding: 21px 0px;" *ngIf="data.tipo === 1">
    <div class="u-fz-15" style="padding: 0px 27px; margin-bottom: 21px;">
        Con esta acción <strong>impactarás a más de</strong> <strong class="u-txt-amarillo"> 400,000 clientes</strong> dentro de los territorios seleccionados.
    </div>
    <hr>
    <div style="padding: 0px 27px; margin-top: 33px;">
        <div class="u-fz-18 u-txt-demibold" >Set Restonic Queen Size Grey</div>
        <div class="u-fz-13">SKU: 14002532</div>
        <div class="u-position-r">
            <img src="assets/img/colchon.png" style="width: 100%; margin: 0 auto; margin-top: 20px;">
            <mat-icon svgIcon="ico-promo" class="u-position-a" style="width: 45.5px;height: 45.5px;left: 63px;top: 131px;"></mat-icon>
            <label class="u-position-a u-txt-blanco strong" style="left: 72px;top: 143px;">80%</label>
        </div>
    </div>

    <div style="padding: 0px 27px;" class="u-flex-column-center u-w-100 u-border-box u-align-center u-mt-1">
        <div class="u-fz-18 u-txt-medium u-txt-gris u-txt-through">$8,149</div>
        <strong style="font-size: 22px;">$1,629.8</strong>
    </div>
    <div class="u-flex u-justify-arround u-mt-2 u-fz-13" style="padding: 0px 27px;">
        <button mat-flat-button class="btn btn-blanco-2 u-mr-1">Cancelar</button>
        <button mat-flat-button color="primary" class="btn" [mat-dialog-close]="true">Enviar solicitud</button>
    </div>
</div>

<div style="max-width: 300px; padding: 21px 0px;" *ngIf="data.tipo === 2">
    <div class="u-fz-15" style="padding: 0px 27px;">Tu solicitud esta en <strong>proceso de autorización.</strong></div>
    <div class="dialog-buttons-container" style="padding: 0px 27px;">
        <button mat-flat-button class="u-fz-13 u-txt-demibold u-txt-azul" [mat-dialog-close]="true">Entendido</button>    
    </div>
</div>

<div style="max-width: 341px; padding: 21px 0px;" *ngIf="data.tipo === 3">
    <div class="u-fz-15" style="padding: 0px 27px; margin-bottom: 21px;">
        Con esta acción <strong>impactarás a más de</strong> <strong class="u-txt-amarillo"> 400,000 clientes</strong> dentro de los territorios seleccionados.
    </div>
    <hr>
    <div style="padding: 0px 27px; margin-top: 33px;">
        <div class="u-fz-18 strong u-txt-amarillo u-txt-center">En la compra de estos artículos</div>
        <div class="u-flex-center" style="margin-top: 18px;">
            <div class="u-position-r">
                <div class="u-fz-13 u-txt-demibold" >Box América Queen</div>
                <div class="u-fz-13 u-txt-medium">SKU: 14002532</div>
                <div style="height: 77px;">
                    <img src="assets/img/box1.png" style="width: 105px; margin: 0 auto; margin-top: 5px;">
                    <strong class="u-fz-13 u-position-a" style="right: 0; bottom: 5px;">$2,839</strong>
                </div>
            </div>
            <div class="u-flex-column u-justify-center u-align-center" style="height: 134px;">
                <mat-icon svgIcon="ico-mas" style="width: 29px;height: 29px;"></mat-icon>
            </div>
            <div class="u-position-r">
                <div class="u-fz-13 u-txt-demibold" >Box América Queen</div>
                <div class="u-fz-13 u-txt-medium">SKU: 14002532</div>
                <div style="height: 77px;">
                    <img src="assets/img/box2.png" style="width: 105px; margin: 0 auto; margin-top: 5px; margin-left: 8px;">
                    <strong class="u-fz-13 u-position-a" style="right: 0; bottom: 5px;">$3,069</strong>
                </div>
            </div>
        </div>
        <hr>
        <div class="u-flex-column u-align-center" style="margin-top: 14px;">
            <div class="u-fz-18 strong u-txt-amarillo u-txt-center">Llévate de regalo</div>
            <div>
                <div class="u-fz-13 u-txt-demibold" >Set Restonic Queen Size Grey</div>
                <div class="u-fz-13 u-txt-medium">SKU: 14002532</div>
                <div class="u-position-r">
                    <img src="assets/img/colchon.png" style="width: 128px; margin: 0 auto; margin-top: 5px;">
                    <mat-icon svgIcon="ico-promo" class="u-position-a" style="width: 27.51px;height: 27.51px;left: 70px;top: 52px;"></mat-icon>
                    <label class="u-position-a u-txt-blanco strong u-fz-10" style="left: 73px;top: 60px;">80%</label>
                    <div class="u-fz-10 u-txt-medium u-txt-gris u-txt-through u-position-a" style="right: 18px;bottom: 39px;">$8,149</div>
                    <strong class="u-fz-13 u-position-a" style="right: 9px;bottom: 20px;">$1,629.8</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="u-flex u-justify-arround u-mt-2 u-fz-13" style="padding: 0px 27px;">
        <button mat-flat-button class="btn btn-blanco-2 u-mr-1">Cancelar</button>
        <button mat-flat-button color="primary" class="btn" [mat-dialog-close]="true">Enviar solicitud</button>
    </div>
</div>

<div style="max-width: 341px;height: 443px;" class="u-scroll-y" *ngIf="data.tipo === 4">
    <div class="u-position-a" style="top: 10%;right: 22px;" mat-dialog-close>
        <mat-icon svgIcon="ico-close" style="width: 20.34px;"></mat-icon>
    </div>
    <div style="padding: 21px 24px 46.19px 24px;position: sticky;top: 0px;" class="u-border-bottom u-bg-blanco">
        <div class="dialog-titulo u-flex-center u-txt-medium u-fz-18">{{data.titulo}}</div>
    </div>
    <div style="padding: 2px 26.75px;position: sticky;top: 68.19px;" class="u-fz-13 u-txt-demibold u-border-bottom u-flex u-bg-blanco">
        <div>Tienda</div>
        <div style="margin-left: 124.36px;">Piezas</div>
        <div style="margin-left: 33.13px;">Costo</div>
    </div>
    <div style="padding: 21.3px 16px;" class="u-border-bottom u-flex u-fz-13 u-txt-medium" *ngFor="let item of tiendas">
        <div style="width: 167px;">{{item.nombre}}</div>
        <div style="width: 31.98px; margin-left: 12px;">{{item.piezas}}</div>
        <div style="width: 29.98px; margin-left: 41px;">{{item.costo}}</div>
    </div>
</div>

<div style="max-width: 341px; padding: 21px 24.7px;background-color: #fecc00;" *ngIf="data.tipo === 5">
    <strong class="u-fz-14">¡Juan!</strong>
    <div class="u-fz-16">
        Tienes <strong>5,000 Colchones <br> Set restonic</strong>
    </div>
    <div class="u-flex-between u-fz-16">
        <div class="u-txt-rojo strong">
            en 100 tiendas con <br>
            más de 2 años sin <br>
            venta.
        </div>
        <div style="margin-left: 25px;">
            <img src="assets/img/icons/conlchon_flechas.svg">
        </div>
    </div>
    <div class="u-flex-between u-mt-2 u-fz-13">
        <button mat-flat-button class="btn btn-transparente u-mr-1" mat-dialog-close style="width: 121px;">Entendido</button>
        <button mat-flat-button class="btn btn-rojo" [mat-dialog-close]="true" [routerLink]="['/acciones-tienda']" routerLinkActive="router-link-active" style="width: 121px;">Acciones</button>
    </div>
</div>