<div class="contenedor-filtros u-flex-between u-pad-1 u-border-bottom">
    <div class="u-fz-17 u-txt-medium">Total de artículos: <strong>250</strong></div>
    <div>
        <mat-select class="u-txt-demibold" style="width: 133px;">
            <mat-option value="opt1">Opción 1</mat-option>
            <mat-option value="opt2">Opción 2</mat-option>
            <mat-option value="opt3">Opción 3</mat-option>
        </mat-select>
    </div>
</div>
<div class="contenedor-titulos u-flex-between u-border-bottom u-txt-demibold" style="padding: 2px 0px">
    <div style="padding-left: 90px;">Producto</div>
    <div style="padding-right: 42px;">Piezas</div>
</div>
<div class="u-scroll-y">
    <div class="u-flex-between u-pad-1 u-border-bottom" *ngFor="let producto of inventario" [routerLink]="['/detalle', producto.id]" routerLinkActive="router-link-active" >
        <div class="u-flex u-position-r">
            <div class="u-circulo u-flex-center" style="overflow: hidden;" [ngClass]="{'borde-rojo': producto.descuento}">
                <img [src]="producto.img" class="u-img-fluid">
                <mat-icon svgIcon="ico-promo" class="u-position-a" style="width: 20px;height: 20px;left: 31px;top: 156px;z-index: 3;" *ngIf="producto.descuento"></mat-icon>
                <label class="u-position-a u-txt-blanco strong" style="left: 33px;top: 161px;font-size: 8px;z-index: 4;" *ngIf="producto.descuento">{{producto.descuento}}%</label>
            </div>

            <div class="u-flex-column" style="margin-left: 25.72px; width: 180px;">
                <div class="u-fz-17 u-txt-medium">{{producto.nombre}}</div>
                <div class="u-fz-15">SKU: {{producto.sku}}</div>
                <div class="u-fz-15 u-txt-demibold">{{producto.cantidad}}</div>
                <strong class="u-txt-15" [ngClass]="{'u-discontinuo': producto.estado === 'Discontinuo',
                'u-noResurtible': producto.estado === 'No resurtible', 'u-linea': producto.estado === 'Línea',
                'u-nuevo': producto.estado === 'Nuevo'}">
                    {{producto.estado}}
                </strong>
            </div>
        </div>
        <div class="u-flex">
            <div class="u-txt-medium u-fz-17" style="margin-bottom: 77px;">{{producto.piezas}}</div>
            <div>
                <mat-icon svgIcon="ico-flecha" class="u-icon-sm" style="margin-left: 22px;"></mat-icon>
            </div>
        </div>
    </div>
</div>

<div class="btn-filtro" *ngIf="!mostrarFiltros">
    <button mat-mini-fab aria-label="Filtros" (click)="mostrarFiltros = !mostrarFiltros">
        <mat-icon>filter_list</mat-icon>
    </button>
</div>

<div class="overlay" *ngIf="mostrarFiltros">
    <div class="contenedor-filtros-boton">
        <div class="contenedor-encabezado-filtros">
            <ng-container *ngFor="let encabezado of encabezados">
                <div [ngClass]="{'btn-filtros-activo': encabezado.estatus}" class="border-left-filtro" (click)="seleccionEncabezado(encabezado)">{{encabezado.titulo}}</div>
            </ng-container>
        </div>
        <div style="padding: 18.11px 12px;">
            <div class="contenedor-contenido-filtros u-ft-13">
                <ng-container *ngIf="encabezados[0].estatus">
                    <ng-container *ngFor="let boton of botonesEstatus">
                        <button mat-flat-button class="btn btn-gris btn-filtro-inventario" style="margin-left: 9px;" [ngStyle]="{'padding': boton.padding}" [ngClass]="{'btn-filtros-activo': boton.estatus}" (click)="seleccionEstatus(boton)">{{boton.titulo}}</button>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="encabezados[1].estatus">
                    <ng-container *ngFor="let boton of botonesRotacion">
                        <button mat-flat-button class="btn btn-gris btn-filtro-inventario" style="margin-left: 9px;" [ngStyle]="{'padding': boton.padding}" [ngClass]="{'btn-filtros-activo': boton.estatus}" (click)="seleccionRotacion(boton)">{{boton.titulo}}</button>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="encabezados[2].estatus">
                    <ng-container *ngFor="let boton of botonesDescuento">
                        <button mat-flat-button class="btn btn-gris btn-filtro-inventario" style="margin-left: 9px;" [ngStyle]="{'padding': boton.padding}" [ngClass]="{'btn-filtros-activo': boton.estatus}" (click)="seleccionRotacion(boton)">{{boton.titulo}}</button>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="btn-filtro">
        <button mat-mini-fab aria-label="Filtros" (click)="mostrarFiltros = !mostrarFiltros">
            <mat-icon svgIcon="ico-cerrar" style="width: 19px;height: 19px;"></mat-icon>
        </button>
    </div>
</div>
