<mat-toolbar class="footer-toolbar u-flex-between">
    <div class="u-flex-column u-align-center">
        <button mat-icon-button aria-label="Regresar" style="margin-bottom: -13px;">
            <mat-icon svgIcon="ico-inventario-activo" class="u-icon-md"></mat-icon>
            
        </button>
        <div class="u-fz-10 strong">Inventario</div>
    </div>
    <div class="u-flex-column u-align-center">
        <button mat-icon-button aria-label="Regresar" style="margin-bottom: -13px;">
            <mat-icon svgIcon="ico-llama" class="u-icon-md"></mat-icon>
        </button>
        <div class="u-fz-10">Matriz de riesgo</div>
    </div>
    <div class="u-flex-column u-align-center">
        <button mat-icon-button aria-label="Regresar" style="margin-bottom: -13px;">
            <mat-icon svgIcon="ico-campana" class="u-icon-md"></mat-icon>
        </button>
        <div class="u-fz-10">Alertas</div>
    </div>
    <div class="u-flex-column u-align-center">
        <button mat-icon-button aria-label="Regresar" style="margin-bottom: -13px;">
            <mat-icon svgIcon="ico-menu" class="u-icon-md"></mat-icon>
        </button>
        <div class="u-fz-10">Más</div>
    </div>
</mat-toolbar>