<div class="u-scroll-y">
    <div style="padding: 22px 31px; margin-top: 21px;" class="u-fz-15">
        <div class="contenedor-accion">
            <div>
                <div class="u-fz-18 u-txt-demibold" >Set Restonic Queen Size Grey</div>
                <div class="u-fz-13 u-txt-medium">SKU: 14002532</div>
                <div class="u-position-r">
                    <img src="assets/img/colchon.png" style="width: 100%; margin: 0 auto; margin-top: 20px;">
                    <mat-icon svgIcon="ico-promo" class="u-position-a" style="width: 45.5px;height: 45.5px;left: 63px;top: 131px;"></mat-icon>
                    <label class="u-position-a u-txt-blanco strong" style="left: 69px;top: 145px;">80%</label>
                </div>
            </div>
        
            <div class="u-flex-column-center u-w-100 u-border-box u-align-center u-mt-1">
                <div class="u-fz-13 u-txt-medium u-txt-gris u-txt-through">$8,149</div>
                <strong style="font-size: 22px;">$1,629.8</strong>
            </div>
        </div>
        <div class="u-fz-15 u-txt-demibold" style="margin-top: 26px;">
            Descuento en todos los canales en el territorio RU Metro Norte.
        </div>
        <div class="u-fz-15" style="margin-top: 28px;">
            Con esta acción <strong class="u-fz-17">impactarás a más de</strong> <strong class="u-fz-17 u-txt-amarillo"> 400,000 clientes</strong> dentro de los territorios seleccionados.
        </div>
    </div>
</div>
