<div class="u-scroll-y margin-top margin-bottom">
    <div style="padding: 14px 21px;" class="u-border-bottom u-cursor-pointer" [routerLink]="['/visualiza-acciones']" routerLinkActive="router-link-active" >
        <div class="u-flex-between">
            <div class="u-position-r">
                <span class="u-fz-13 u-txt-demibold">Acciones</span>
                <div class="u-circulo-notificacion2 u-position-a"></div>
            </div>
            <div>
                <mat-icon svgIcon="ico-flecha" class="u-icon-sm" style="margin-left: 11.35px;"></mat-icon>
            </div>
        </div>
    </div>
    <div style="padding: 14px 21px;" class="u-border-bottom u-cursor-pointer">
        <div class="u-flex-between">
            <div class="u-position-r">
                <span class="u-fz-13 u-txt-demibold">Cerrar sesión</span>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
