.mat-expansion-panel-header:not([aria-disabled=true]) {
    background-color: #CC3333 !important;
    box-shadow: unset !important;
    height: 27px !important;
    font-family: $font-bold;
}

.mat-expansion-panel-header-title {
    color: $white-color !important;
}

.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background-color: #CC3333 !important;
}

.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: rgb(255 255 255) !important;
}

.mat-expansion-indicator::after {
    margin-bottom: 3px;
}

.mat-expansion-panel-body {
    padding: unset !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: unset !important;
}