.menu-btn {
    height: 30px !important;
    line-height: 35px !important;
    font-size: 12px !important;
    font-family: $font-medium;
}

.mat-menu-content:not(:empty) {
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.btn {
    font-size: 13px !important;
    font-family: $font-medium;
}

.btn-gris {
    background-color: #F5F5F5;
    color: #333;
}

.btn-activo {
    font-family: $font-bold !important;
    background-color: #ffcc00;
    color: #ffffff;
}
.btn-activo2 {
    font-family: $font-bold !important;
    background-color: #ACACAC;
    color: #ffffff;
    box-shadow: 0px 3px 6px #00000029 !important;
}

.btn-adaptable {
    min-width: unset !important;
    width: unset !important;
    padding: 0px 5px !important;
    line-height: 30px !important;
}

.btn-blanco {
    color: #2780eb;
    border: solid 1px #2780eb !important;
    border-radius: 2px;
}

.btn-transparente {
    background-color: unset !important;
    color: #000000;
}

.btn-rojo {
    background-color: #cc3434;
    color: #ffffff;
    border-radius: 2px;
}

.btn-blanco-2 {
    color: #2780eb;
    border-radius: 2px;
}

.btn-blanco-2:hover {
    background-color: #FFEEDB;
}

.btn-blanco-3 {
    color: #999999;
}
.btn-blanco-3:hover {
    background-color: #F3F3F3;
}
