.app-wrapper {
    max-width: 360px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 640px;
}

.header-toolbar {
    background-color: $white-color;
    height: 80px !important;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 19px 22px 16px 22px !important;
    box-shadow: 0px 2px 3px #00000029;
}

.footer-toolbar {
    background-color: $white-color;
    box-shadow: 3px 6px 7px 5px #00000029;
    height: 80px !important;
    position: sticky;
    bottom: 0;
    z-index: 99;
    padding: 19px 22px 16px 22px !important;
}

.contenedor-filtros {
    background-color: $white-color;
    height: 80px !important;
    position: sticky;
    z-index: 2;
}