.app-wrapper {
    max-width: 360px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 640px;
}

.header-toolbar {
    background-color: $white-color;
    height: 60px !important;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 19px 22px 16px 22px !important;
    box-shadow: 0px 2px 3px #00000029;
}

.footer-toolbar {
    background-color: $white-color;
    box-shadow: 3px 6px 7px 5px #00000029;
    // height: 80px !important;
    position: sticky;
    bottom: 0;
    z-index: 99;
    padding: 19px 22px 16px 22px !important;
}

.contenedor-filtros {
    background-color: $white-color;
    // height: 80px !important;
    position: sticky;
    z-index: 2;
}

.carousel-arrows {
    display: none !important;
}

.contenedor-acordion {
    border: solid 0.5px #999999;
    border-radius: 4px;
}

/* .contenedor-acordion .u-flex-between > div {
    width: 25%;
    padding: 7px 15px;
} */

.inventario {
    width: 23%; padding: 7px 11px;
}

.sinDano {
    width: 43%;
}

.conDano {
    width: 10%;
}

.costo {
    width: 29%; padding: 7px 11px;
}

.contenedor-boton {
    box-shadow: 0px -1px 3px #00000029;
}

.dialog-buttons-container {
    text-align: right;
    margin-top: 20px;
}

.contenedor-accion {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    padding: 24px 25px;
}

.contenedor-login {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    width: 297px;
    height: 458px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 67px;
    left: 31px;
    z-index: 2;
}