input.buscar {
    // background-image: url(./assets/img/icoLupa.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 17px;
    height: 17px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: -5px;
    font-size: 0;
    border: unset;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
input,
mat-select {
    background-color: $white-color;
    color: #2e2925;
    border-radius: 4px;
    position: relative;
    padding: 4px 10px 4px 16px;
    height: 30px !important;
    width: 100%;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
}

.input2 {
    background-color: #F5F5F5 !important;
    color: #969696 !important;
    border-radius: 4px;
    position: relative;
    padding: 4px 10px 4px 16px;
    height: 30px !important;
    width: 100%;
    border: unset !important;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
}

input.inputfile-identificacion {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
.inputfile-identificacion + label {
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 146px;
    margin-left: -28px;
}