.iconoUbicacion {
    position: absolute;
    top: 0;
    left: 57%;
    opacity: 0;
	animation: fadeIn 0.5s ease-in both;
    animation-delay: 0.5s;
    width: 40px;
}
.iconoUbicacion img {
    width: 100%;;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.fade-in-image {
	animation: fadeIn 1.3s;
	-webkit-animation: fadeIn 1.3s;
	-moz-animation: fadeIn 1.3s;
	-o-animation: fadeIn 1.3s;
	-ms-animation: fadeIn 1.3s;
  }
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }