<div class="u-scroll-y">
    <div style="padding: 0px 16px; margin-top: 21px;" class="u-fz-15">
        <strong>Visualiza las acciones </strong> <span>solicitadas y ejecutadas.</span>
    </div>
    <div style="padding: 0px 16px; margin-top: 22px;" class="u-fz-15">
        <strong>Solicitudes pendientes </strong>
    </div>
    <div style="padding: 0px 16px; margin-top: 22px;" class="u-fz-15">
        <div style="padding: 14px 21.67px;" class="u-fz-13 u-borde-amarillo u-cursor-pointer" [routerLink]="['/accion-solicitada']" routerLinkActive="router-link-active" >
            <div class="u-txt-demibold">Descuento en todos los canales</div>
            <div class="u-txt-demibold">
                <div class="u-flex-between">
                    <strong class="u-fz-12">
                        Set Restonic Queen Size Grey
                    </strong>
                    <div>
                        <mat-icon svgIcon="ico-flecha" class="u-icon-sm" style="margin-left: 11.35px;"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="u-txt-medium">Solicitud enviada hoy, 05 de feb 2021</div>
        </div>
    </div>

    <div style="padding: 0px 16px; margin-top: 22px;" class="u-fz-15">
        <strong>Historial de acciones </strong>
    </div>
    <div style="padding: 0px 16px; margin-top: 6.29px;" class="u-fz-15">
        <div style="padding: 9.7px 16px;" class="u-fz-13 u-borde-gris u-border-bottom-u">
            <div class="u-txt-demibold">Descuento en App BAZ</div>
            <div>
                <strong >
                    Set Restonic Queen Size Grey
                </strong>
            </div>
            <div class="u-txt-medium">Solicitud enviada el 02/01/2021</div>
        </div>
        <div style="padding: 9.7px 16px;" class="u-fz-13 u-borde-gris u-border-bottom-u u-border-top-u">
            <div class="u-txt-demibold">Descuento en App BAZ</div>
            <div>
                <strong >
                    Set Restonic Queen Size Grey
                </strong>
            </div>
            <div class="u-txt-medium">Solicitud enviada el 02/01/2021</div>
        </div>
        <div style="padding: 9.7px 16px;" class="u-fz-13 u-borde-gris u-border-bottom-u u-border-top-u">
            <div class="u-txt-demibold">Descuento en App BAZ</div>
            <div>
                <strong >
                    Set Restonic Queen Size Grey
                </strong>
            </div>
            <div class="u-txt-medium">Solicitud enviada el 02/01/2021</div>
        </div>
        <div style="padding: 9.7px 16px;" class="u-fz-13 u-borde-gris u-border-top-u">
            <div class="u-txt-demibold">Descuento en App BAZ</div>
            <div>
                <strong >
                    Set Restonic Queen Size Grey
                </strong>
            </div>
            <div class="u-txt-medium">Solicitud enviada el 02/01/2021</div>
        </div>
    </div>
    

</div>
